Syslog               yes
SyslogSuccess        yes
LogWhy               yes

Canonicalization     relaxed/simple

Domain               {{ mail_domain }}
Selector             {{ mail_dkim_selector }}

KeyTable             /etc/opendkim/KeyTable
SigningTable         refile:/etc/opendkim/SigningTable

Socket               local:/run/opendkim/opendkim.sock
PidFile              /run/opendkim/opendkim.pid
UMask                002

UserID               opendkim
